.App {
  button {
    border: 2px solid #00df9d;
    background-color: #00df9d;
    color: #131128;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform-style: preserve-3d;
    border-radius: 18px;
    padding: 27px 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1em;
    transition: transform 0.35s, background-color 0.35s;
    border-radius: 18px;
    padding: 18px 22px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143em;
  }
  button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #00df9d;
    transform: scale3d(0.95, 0.95, 1.01);
    cursor: pointer;
  }
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1246px;
    margin: 0 auto;
    padding: 33px 24px;
    #menu {
      display: flex;
      align-items: center;
      #logo {
        display: flex;
        align-items: center;
      }
      #divider {
        width: 1px;
        height: 44px;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
      }
      .nav {
        display: flex;
        .nav-item {
          display: flex;
          align-items: center;
          margin-right: 26px;
          .nav-link {
            color: white;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.143em;
            text-decoration: none;
            transition: color 0.35s;
          }
        }
      }
    }
  }
  #default-section {
    max-width: 1246px;
    margin: 0 auto;
    padding: 104px 24px 0 24px;
    text-align: center;
    h1 {
      color: white;
      letter-spacing: -0.01em;
      margin-top: 0;
      margin-bottom: 22px;
      font-size: 66px;
      font-weight: 700;
      line-height: 1.212em;
      text-align: center;
      margin-bottom: 10px;
    }
    p {
      text-align: center;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      align-items: center;
      margin-bottom: 41px;
      display: flex;
    }
    button {
      width: 100%;
    }
  }
  .section {
    display: flex;
    align-items: center;
    max-width: 1246px;
    margin: 0 auto;
    padding: 97px 24px 71px;
    #left {
      h2 {
        color: #00df9d;
        letter-spacing: -0.01em;
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 42px;
        font-weight: 700;
        line-height: 1.31em;
      }
      p {
        color: rgba(255, 255, 255, 0.46);
        margin-bottom: 13px;
      }
      .spec {
        display: flex;
        align-items: center;
        margin-bottom: 17px;
        .image-wrapper {
          overflow: hidden;
          transform: translate(0);
          background-color: #00df9d;
          border-radius: 13px;
          justify-content: center;
          align-items: center;
          width: 46px;
          min-width: 46px;
          height: 46px;
          min-height: 46px;
          margin-right: 17px;
          display: flex;
        }
        .spec-paragraph {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.611em;
        }
      }
    }
    img.right {
      max-width: 150%;
      margin-right: -361px;
    }
  }
  #pricing-section {
    padding-top: 40px;
    padding-bottom: 140px;
    #pricing-header {
      max-width: 660px;
      margin: 19px auto 40px;
      padding: 0 24px;
      text-align: center;
      h1 {
        color: white;
        letter-spacing: -0.01em;
        margin-top: 0;
        margin-bottom: 22px;
        font-size: 66px;
        font-weight: 700;
        line-height: 1.212em;
      }
      p {
        margin-top: 0;
      }
    }
    #pricing-content {
      display: block;
      max-width: 1246px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 24px;
      padding-right: 24px;
      #pricing-grid {
        grid-column-gap: 26px;
        grid-row-gap: 16px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        display: grid;
        .pricing-card {
          background-color: rgba(255, 255, 255, 0.1);
          flex-direction: column;
          padding: 48px 30px 42px;
          display: flex;
          border-radius: 40px;
          overflow: hidden;
          h1.title {
            color: #00df9d;
            letter-spacing: -0.01em;
            margin-top: 0;
            margin-bottom: 22px;
            font-size: 66px;
            font-weight: 700;
            line-height: 1.212em;
          }
          .price {
            display: flex;
            justify-content: flex-start;
            .card-price {
              color: white;
              letter-spacing: -0.01px;
              margin-bottom: 5px;
              font-size: 42px;
              font-weight: 700;
              line-height: 1.31em;
            }
            .card-price-rule {
              color: rgba(255, 255, 255, 0.46);
              text-align: left;
              align-items: center;
              margin-left: 7px;
              display: flex;
            }
          }
          .excerpt {
            color: rgba(255, 255, 255, 0.46);
          }
          ul.list {
            margin-top: 0;
            margin-bottom: 20px;
          }
          .other {
            color: rgba(255, 255, 255, 0.46);
            text-align: center;
            margin-top: 10px;
          }
        }
      }
      #pricing-lifetime {
        background-color: rgba(255, 255, 255, 0.1);
        height: 100%;
        padding: 48px 30px 42px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 24px;
        border-radius: 40px;
        overflow: hidden;
        #lifetime-header {
          margin-bottom: 20px;
          .lifetime-price {
            display: flex;
            align-items: center;
            h1.title {
              color: #00df9d;
              letter-spacing: -0.01em;
              margin-top: 0;
              margin-bottom: 22px;
              font-size: 66px;
              font-weight: 700;
              line-height: 1.212em;
            }
            .price {
              color: white;
              letter-spacing: -0.01px;
              margin-bottom: 5px;
              font-size: 42px;
              font-weight: 700;
              line-height: 1.31em;
              margin-left: 20px;
              margin-right: 20px;
            }
            .excerpt {
              color: rgba(255, 255, 255, 0.46);
            }
          }
          button {
            width: 100%;
          }
          .other {
            color: rgba(255, 255, 255, 0.46);
            text-align: center;
            margin-top: 10px;
          }
        }
        #lifetime-content {
          flex-direction: column;
          justify-content: center;
          display: flex;
          ul.list {
            margin-bottom: 0;
            .list-text {
              max-width: 300px;
            }
          }
        }
      }
    }
  }
}
